In [ ]:
!wget https://cdn.discordapp.com/attachments/778630432878362676/934217772664258560/MultiTest.rar
!wget https://cdn.discordapp.com/attachments/778630432878362676/934217856114122752/MultiDev.rar
!wget https://cdn.discordapp.com/attachments/778630432878362676/934217865811349504/MultiTrain.Shuffled.rar

In [ ]:
import pandas as pd
import numpy as np
import re
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')

In [ ]:
!unrar x "/content/MultiDev.rar" "/content/Data/"
!unrar x "/content/MultiTest.rar" "/content/Data/"
!unrar x "/content/MultiTrain.Shuffled.rar" "/content/Data/"

In [4]:
Corpus="/content/Data/MultiTrain.Shuffled.csv"
Devset="/content/Data/MultiDev.csv"
Testset="/content/Data/MultiTest.csv"

In [5]:
df_train = pd.read_csv(Corpus)
df_dev = pd.read_csv(Devset)
df_test = pd.read_csv(Testset)

In [6]:
df_train.dropna(inplace=True)
df_dev.dropna(inplace=True)
df_test.dropna(inplace=True)

df_train.drop_duplicates(subset=['text'] , keep="first",inplace=True)
df_dev.drop_duplicates(subset=['text'] , keep="first",inplace=True)
df_test.drop_duplicates(subset=['text'] , keep="first",inplace=True)

In [7]:
stop_words =['من',
 'في',
 'على',
 'و',
 'فى',
 'يا',
 'عن',
 'مع',
 'ان',
 'هو',
 'علي',
 'ما',
 'اللي',
 'كل',
 'بعد',
 'ده',
 'اليوم',
 'أن',
 'يوم',
 'انا',
 'إلى',
 'كان',
 'ايه',
 'اللى',
 'الى',
 'دي',
 'بين',
 'انت',
 'أنا',
 'حتى',
 'لما',
 'فيه',
 'هذا',
 'واحد',
 'احنا',
 'اي',
 'كده',
 'إن',
 'او',
 'أو',
 'عليه',
 'ف',
 'دى',
 'مين',
 'الي',
 'كانت',
 'أمام',
 'زي',
 'يكون',
 'خلال',
 'ع',
 'كنت',
 'هي',
 'فيها',
 'عند',
 'التي',
 'الذي',
 'قال',
 'هذه',
 'قد',
 'انه',
 'ريتويت',
 'بعض',
 'أول',
 'ايه',
 'الان',
 'أي',
 'منذ',
 'عليها',
 'له',
 'ال',
 'تم',
 'ب',
 'دة',
 'عليك',
 'اى',
 'كلها',
 'اللتى',
 'هى',
 'دا',
 'انك',
 'وهو',
 'ومن',
 'منك',
 'نحن',
 'زى',
 'أنت',
 'انهم',
 'معانا',
 'حتي',
 'وانا',
 'عنه',
 'إلي',
 'ونحن',
 'وانت',
 'منكم',
 'وان',
 'معاهم',
 'معايا',
 'وأنا',
 'عنها',
 'إنه',
 'اني',
 'معك',
 'اننا',
 'فيهم',
 'د',
 'انتا',
 'عنك',
 'وهى',
 'معا',
 'آن',
 "لذلك",
 'انتي',
 'وأنت',
 'وإن',
 'ومع',
 'وعن',
 'معاكم',
 'معاكو',
 'معاها',
 'وعليه',
 'وانتم',
 'وانتي',
 '¿',
 '|']

In [8]:
punct_pattern = (
    r"([!\"#\$%\'\(\)\*\+,\.:;\-<&=·>?@\[\\\]\^_ـ`{\|}~—٪’،؟`୍“؛”ۚ【»؛\s+«–…‘]{2,})"
)

In [9]:
def normalize(sentence):
    '''
    Argument:
        string of words
    return:
        string of words but standardize the words
    '''
    sentence = re.sub("[إأآا]", "ا", sentence)
    sentence = re.sub("ى", "ي", sentence)
    sentence = re.sub("ؤ", "ء", sentence)
    sentence = re.sub("ئ", "ء", sentence)
    sentence = re.sub("ة", "ه", sentence)
    sentence = re.sub("گ", "ك", sentence)
    return sentence

In [10]:
def removing_ar_stopwords(text):
    """
        Here we remove all Arabic stop words
        
    """
    original_words = []
    words = word_tokenize(text) 
    for word in words:
        if word not in stop_words:
            original_words.append(word)
    filtered_sentence = " ".join(original_words)
    return filtered_sentence

In [11]:
def remove_punkt_num(sentence):
  '''
    Argument:
        string of words
    return:
        string of words but after removing punctuations and digits
  '''
  text = re.sub(punct_pattern,"",sentence)
  text = re.sub("[0123456789]","",text)
  return text

In [12]:
def preprocess(data):
  '''
    Argument:
        string of words as a dataframe
    return:
        a cleaned dataframe after applying preprocessing
  '''
  cleared_tweet_1 = []       
  cleared_tweet_1_2 = []         
  cleared_tweet_1_2_3 = []       

  data_text = data['text'].tolist()

  for tweet in data_text: 
    cleared_tweet_1.append(removing_ar_stopwords(tweet))        

  for tweets in cleared_tweet_1:
    cleared_tweet_1_2.append(normalize(tweets))                
                              
  for tweetss in cleared_tweet_1_2:
    cleared_tweet_1_2_3.append(remove_punkt_num(tweetss)) 

  data['text'] = cleared_tweet_1_2_3

  return data

In [13]:
df_train_cleaned = preprocess(df_train)
df_dev_cleaned = preprocess(df_dev)
df_test_cleaned = preprocess(df_test)

In [14]:
df_test_cleaned.drop(columns=['Unnamed: 0'] , inplace=True)
df_dev_cleaned.drop(columns=['Unnamed: 0'] , inplace=True)  
df_train_cleaned.drop(columns=['Unnamed: 0'] , inplace=True)

In [15]:
df_train_cleaned.head()

      label                                               text
0       MSA  بالاضافه لقيام معلمو الجيزه للذهاب جريده الساب...
1       MSA  بعدين والله حرام تجي تلقي واقف الاشاره بالعرض ...
2  DIAL_LEV                   لمسه اليد مرتين واضحه جدا والحكم
3  DIAL_LEV                      بخصوص الهاتريك عمرها راح تصير
4  DIAL_GLF                الله يجبر كسرهم ويرجع لدهم قبل بكري

In [16]:
df_test_cleaned.head()

      label                                               text
0  DIAL_EGY                               ياراجل فن هوه فن قله
1  DIAL_EGY                       حاجه تكسف مش كفايه روبي كمان
2  DIAL_EGY  اللهم صبرنا ابتليتنا به مناظركم زودت القرف بنش...
3  DIAL_EGY                   ارحمونه الفن خرب الاقارب والعالم
5  DIAL_EGY  الاخت روبي مش مكفيها عاملاه جايبه لنا اختها ال...

In [17]:
df_dev_cleaned.head()

      label                                               text
0  DIAL_EGY                         تصور كلهتلاقيني باحبك اكتر
1  DIAL_EGY                                    اكتر روحي باحبك
2  DIAL_EGY              وتصور حب المخلص لحبيبه ولا بايه يتغير
4  DIAL_EGY                   اكتر روحي باحبكبحقيقي باحبك اكتر
5  DIAL_EGY  وغنايا بكلمه احبك بالنسبه لدرجه حبك رمز صغير م...

In [18]:
df_train_cleaned.to_csv("df_train_cleaned.csv",index=False)
df_dev_cleaned.to_csv("df_dev_cleaned.csv",index=False)
df_test_cleaned.to_csv("df_test_cleaned.csv",index=False)